*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar {
height: 60px;
background-color: #0f1111;
color: white;
display: flex;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazonlogo.png");
    height: 50px;
    background-size: cover;
    width: 100px;
}

.border {
    border: 1.5px solid transparent

}

.border:hover {
    border:1.5px solid white;
}

.hero-section {
    background-image: url("heroimage.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

}

.hero-msg a {
    color: #007185;
}

/** shop section **/

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    height: 300px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content {
    color: #007185;
}